# Etherscan API Key for verification of contracts

ETHERSCAN_API_KEY=6EB577PFAKJG1E7DIMVP4S8BVR3BKA91RT

# Infura project secrets for deployment

INFURA_PROJECT_ID=7a3e8131ad6d42b89d19677154d04008
INFURA_PROJECT_SECRET=23cc29c7f69c4e259ee2b8adbdeb78a5
NETWORK=ganache

# Base deployment settings: private keys, gas limit, gas price

SETTER_PRIV=24f34e49fa85eae704d9398b5cc4e36820ffabb0a1da7592dec4c5059b646452
SETTER_ADDRESS=0x4B346C42D212bBF0Bf85A01B1da80C2841149EA2

DEPLOY_GAS_LIMIT=7000000
DEPLOY_GAS_PRICE=150

# Truffle deploy settings
TOKEN_NAME=Block Duelers
TOKEN_SYMBOL=DUEL